/*Info about the author 
Name, surname: <enter your name, surname here>
Student ID number: <enter your student id number here>
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Russo+One");

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("./images/background.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.centered-content {
  min-width: 534px;
}

#page-container {
  width: 80%;
  margin: 0 auto;
}

/* Top Banner */

.top_banner {
  background-image: url("./images/intro-img-812gts.jfif");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.slogan {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  text-shadow: 2px;
  font-size: larger;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Top Menu */

/* #main-menu {
  position: sticky;
  background-color: black;
}

#main-menu::after {
  content: "";
  clear: both;
}

.upper-menu,
.sub-menu-caption {
  float: left;
  color: rgba(255, 255, 255, 0.7);
}

.sub-menu-caption,
.upper-menu > a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.right-menu {
  float: right;
}

.sub-menu {
  display: none;
} */

nav {
	margin-top: -5px;
	top: 0;
    z-index: 1;
    font-size: 1.1em;
    text-transform: uppercase;
    background-color: rgb(0,0,0);
    position: sticky;
	}
.parent-menu a {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
	}
.parent-menu>li {
    color: rgba(255,255,255,0.7);
	display: inline-block;
	padding: 16px;
    border-right: 1px solid rgba(255,0,0,0.5);
    }
.parent-menu li:first-child {
	color: rgb(255,0,0);
    border-left: 1px solid rgba(255,0,0,0.5);
	}
.sub-menu-caption {
    position: relative;
	display: inline-block;
	}
.sub-menu {
    background-color: rgb(0,0,0);
	width: 100%;
	display: none;
    position: absolute;
    left: -1px;
	}
.sub-menu-caption:hover .sub-menu {
    display: block;
	}
.sub-menu li {
	font-style: italic;
    border: 1px solid rgba(255,0,0,0.5);
    border-top: none;
	padding: 10px;
	}

.sub-menu li:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	}

.right-menu {
	background-color: rgba(255,0,0,0.5);
	float: right;
    border-right: none !important;
	}