/*Info about the author 
Name, surname: <enter your name, surname here>
Student ID number: <enter your student id number here>
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Russo+One");

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("./images/background.jpg");
  background-size: 100%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  text-align: justify;
  line-height: 1.5em;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.centered-content {
  min-width: 534px;
}

#page-container {
  width: 80%;
  margin: 0 auto;
}

/* Top Banner */

.top_banner {
  background-image: url("./images/intro-img-812gts.jfif");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.slogan {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  text-shadow: 2px;
  font-size: larger;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Top Menu */

/* #main-menu {
  position: sticky;
  background-color: black;
}

#main-menu::after {
  content: "";
  clear: both;
}

.upper-menu,
.sub-menu-caption {
  float: left;
  color: rgba(255, 255, 255, 0.7);
}

.sub-menu-caption,
.upper-menu > a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.right-menu {
  float: right;
}

.sub-menu {
  display: none;
} */

nav {
  margin-top: -5px;
  top: 0;
  z-index: 1;
  font-size: 1.1em;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  position: sticky;
}
.parent-menu a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.parent-menu > li {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 16px;
  border-right: 1px solid rgba(255, 0, 0, 0.5);
}
.parent-menu li:first-child {
  color: rgb(255, 0, 0);
  border-left: 1px solid rgba(255, 0, 0, 0.5);
}
.sub-menu-caption {
  position: relative;
  display: inline-block;
}
.sub-menu {
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: none;
  position: absolute;
  left: -1px;
}
.sub-menu-caption:hover .sub-menu {
  display: block;
}
.sub-menu li {
  font-style: italic;
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-top: none;
  padding: 10px;
}

.sub-menu li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.right-menu {
  background-color: rgba(255, 0, 0, 0.5);
  float: right;
  border-right: none !important;
}

/* Main text */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(255, 255, 255);
  font-weight: 500;
}
h1 {
  font-size: 1.8em;
  text-transform: capitalize;
  font-variant: small-caps;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
article {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
}

.main-container {
  padding: 30px 50px 30px 60px;
}
.main-container > * {
  margin: 10px 0 10px 0;
}
.title-red {
  color: rgb(255, 0, 0);
}

#fuel-consumption {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.para-head {
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: -0.3px;
}
.column-2 {
  grid-column: 3 / 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.small {
  font-size: 0.8em;
  margin-left: 50px;
}

.div-img-right img {
  width: 100%;
}
.div-img-right {
  width: 50%;
  min-width: 480px;
  position: relative;
  float: right;
  margin: 0 0 0 10px;
}
.div-img-right .img-text {
  color: rgb(255, 0, 0);
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 3px 4px black;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -0.5px;
  width: 100%;
  position: absolute;
  padding: 20px 0 20px 10px;
}
.main-container > img {
  width: 20%;
  min-width: 170px;
  display: block;
  float: left;
  margin-right: 10px;
}

.spec-container {
  padding: 40px 8% 40px 8%;
  text-align: left;
}
.spec-container > h2 {
  margin: 0 0 20px 0;
}
.spec-container::after {
  display: table;
  content: "";
  clear: both;
}
.spec-container .specs:not(.bottom) {
  width: 50%;
  display: block;
  float: left;
  margin-bottom: 20px;
}
.spec-container .specs:not(.bottom) dl {
  margin-bottom: 10px;
  overflow: hidden;
  padding: 0;
}
.spec-container .specs:not(.bottom) dl dt {
  margin: 0;
  float: left;
  width: 40%;
  padding-top: 5px;
}
.spec-container .specs:not(.bottom) dl dd {
  padding-top: 5px;
  width: 70%;
}
.spec-container .bottom {
  width: 100%;
}
.spec-container .bottom dl dt {
  display: inline;
}
.spec-container .bottom dl dd {
  display: inline;
}
.spec-container .bottom dl dd::after {
    content: "\a";
    white-space: pre;
}
.specs > h3 {
  font-weight: 100;
}

/* Bottom menu */

footer {
  background-color: rgba(0,0,0,0.8);
padding-top: 5px;
  display: flex;
}
.menu-bottom {
  margin: auto;
  margin-bottom: 10px;
}
.menu-bottom li {
border-left: 1px solid rgba(255,0,0,0.8);
  display: inline-block;
}
.menu-bottom li:first-of-type {
  border-left: none;
}
.menu-bottom li a {
color: rgba(255,0,0,0.8);
  text-transform: capitalize;
  text-decoration: none;
  font-variant:small-caps;
  padding: 0 5px 0 5px;
}	

#copyright {
color: rgba(255,0,0,0.5);
font-size: 0.75em;
  text-align: center;
}

