/*Info about the author 
Name, surname: <enter your name, surname here>
Student ID number: <enter your student id number here>
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Russo+One");

.centered-content {
  min-width: 534px;
  font-family: "Montserrat", sans-serif;
}

#page-container {
    width: 80%;
    margin: 0 auto;
}

.top_banner {
    background-image: url("./images/intro-img-812gts.jfif");
    height: 100vh;
}
